.transactionstable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table {
  margin-top: 20px;
}

.transactiontable__dashboard {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 80%;
  max-width: 972px;
  margin-top: 20px;
}

.dashboard__inputs {
  display: flex;
  flex-direction: row;
}

.form__field {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 0.8rem;
  margin-right: 4.5rem;
}

.form__label {
  color: #3e417a;
  font-family: museo-sans, sans-serif;
}