body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ebecf1; }

.btn--small {
  background-color: #90c015 !important;
  font-size: 0.8rem;
  line-height: 1.42857143;
  padding: .358em 2em;
  min-width: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: museo-sans, sans-serif;
  font-weight: 400;
  transition: background .2s ease-in-out,color .2s ease-in-out;
  border-radius: .5rem; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
